body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #525252;
    font-family: 'Open Sans', sans-serif
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%
}

.header h1 {
    font-size: 40px;
    margin: 5px;
}

.header h3 {
    font-size: 30px;
    padding-bottom: 10px        ;
    margin: 5px;
    border-bottom: 1px solid #525252;
    width: 100% 
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
}

li {
    margin: 5px;
    list-style: none;
    
}

main img {
    width: 100px;
    padding: 5px;
    transition: background-color 0.5s ease;
}

img:hover {
    /* width: 105px; */
    cursor: pointer;
    background-color: slategray;
}

img:active {
    background-color: #081254;
}

input {
    display: none;
}

.hidden {
    display: none;
}
button {
    font-size: 20px;
    background-color: #525252;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 200px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center
}